<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My BSLog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet" />
</head>
<body>
<a href="/Users/bsheen/IdeaProjects/FinalProject/wireframe/dash.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
<a href="/Users/bsheen/IdeaProjects/FinalProject/wireframe/profile.html"><i class="fa fa-user-o fa-2x" aria-hidden="true"></i></a>
<a href="/Users/bsheen/IdeaProjects/FinalProject/wireframe/history.html"><input type="button" value="My History"/></a>
<a href="/Users/bsheen/IdeaProjects/FinalProject/wireframe/report.html"><input type="button" value="My Report"/></a>
<a href="/Users/bsheen/IdeaProjects/FinalProject/wireframe/logout.html"><input type="button" value="Logout"/></a>

<h1 class="text-center">My BSLog</h1>
<div class="text-center">
    <div class="container mx-auto" style="width: 400px;">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center"><i class="fa fa-tint fa-2x" aria-hidden="true"></i> / <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i></th>
                <th class="text-center"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="/addEntry"><input type="button" value="Add Entry"/></a></td>
                <td><a href="/Users/bsheen/IdeaProjects/FinalProject/wireframe/getbolus.html"><input type="button" value="Get Insulin Bolus"/></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<div class="text-center">
    <h2>My Daily Summary: May 30, 2017</h2>
    <h3>My Estimated HbA1c: 7.2</h3>
    <br/>
    <div class="container mx-auto" style="width: 700px;">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Time</th>
                <th class="text-center">Blood Sugar</th>
                <th class="text-center">Carbs</th>
                <th class="text-center">Insulin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${entryList}">
                <td th:text="${entry.date}"></td>
                <td th:text="${entry.time}"></td>
                <td th:text="${entry.bloodsugar}"></td>
                <td th:text="${entry.totalCarbs}"></td>
                <td th:text="${entry.insulin}"></td>
                <td class="text-center"><form action="#" th:action="@{'/editEntry/'+${entry.eid}}" method="get"><input class="btn btn-primary btn-sm btn-default" type="submit" value="Edit"/></form></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
