<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My BSLog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
          rel="stylesheet"/>
</head>
<body style="padding:60px">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="btn" href="/dash"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a>
        <a class="btn" href="/profile"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i>Profile</a>
        <a class="btn" href="/history"><i class="fa fa-history fa-fw" aria-hidden="true"></i>My History</a>
        <ul class="nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>Disclaimer
                    <span class="caret"></span></a>
                <ul class="dropdown-menu alert alert-info" role="alert">
                    <div style="width: 300px;">
                        <li><strong>REGARDING MEDICAL ADVICE</strong></li>
                        <br/>
                        <li>BSLog and any services, information, opinions, content, references are for informational
                            purposes only.
                        </li>
                        <br/>
                        <li>Nothing contained in BSLog is intended to establish a physician-patient relationship, to
                            replace the services of a trained physician or health care professional, or otherwise to be
                            a substitute for professional medical advice, diagnosis, or treatment.
                        </li>
                    </div>
                </ul>
            </li>
        </ul>
        <a class="btn" href="/logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Logout</a>
    </div>
</nav>

<h1 class="text-center">My Profile</h1>
<br/>
<form action="#" th:action="@{/editProfile}" th:object="${user}" method="post">
<div class="container mx-auto table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}" th:value="${user.getUsername()}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Insulin Type</td>
            <td>
                <select>
                    <option readonly="readonly">Humalog U-100</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Insulin to Carb Ratio</td>
            <td>1 unit : <input type="text" th:field="*{icr}" th:value="${user.getIcr()}" style="width: 50px;" autofocus="autofocus"/> grams</td>
        </tr>
        <tr>
            <td>Insulin Sensitivity Ratio</td>
            <td>1 unit : <input type="text" th:field="*{isr}" th:value="${user.getIsr()}" style="width: 50px;" autofocus="autofocus"/> mg/dL</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div class="row text-center"><input class="btn btn-primary btn-success" value="Submit" type="submit"/> <a href="/profile"><input class="btn btn-default" type="button" value="Cancel"/></a></div>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
